<h2><i>Category Deleted Successfully!!! </i> </h2>
@{
 Layout="~/Views/Shared/_AdministratorLayout.cshtml";
  ViewData["Title"] = "Admin";
}
<div><button style="background-color:darkblue;"><a asp-action="GetCategories">Back To List Of Categories</a></button> </div>