@model CreateUserRequestModel
@using Cakes_N_Treats_By_Zannie.Enums

<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-yellow">
                    <i><h3 class="tagcolor" style="color:mediumblue">Submit your information </h3></i>
                    <p style="color: red"><i>Here</i></p>
                    <hr class="tagcolor" style="color:yellow">

                </div>
                <form asp-action="CreateCustomer" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label asp-for="FirstName" class="control-label" ></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label asp-for="EmailAddress" class="control-label"></label>
                            <input asp-for="EmailAddress" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                         <div class="form-group col-sm-6">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                         <div class="form-group col-sm-6">
                            <label asp-for="CustomerAddress" class="control-label"></label>
                            <input asp-for="CustomerAddress" class="form-control" />
                            <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                        </div>
                        <select asp-for= "Gender" asp-items= "Html.GetEnumSelectList<Gender>()"> Your Gender</select>                         
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="control-label"style= "background-color: aqua ">Insert Your Photo please</label>
                            <input name="UserPhoto" type="file" class="form-control" />
                        </div>
                    </div>
                      <div class="form-group ">
                        <input href="#myModal" type="submit" value="Submit Here" class="btn btn-success trigger-btn col-sm-10" data-toggle="modal" />
                    </div>
                </form>
               
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
