<h2> Treat Deleted Successfully!!! </h2>

<head>
    <style>
        body{
            background-color: DodgerBlue;
        }
    </style>
</head>
@{
    
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
    ViewData["Title"] = "Customer";
}
<div><button style="background-color:darkblue;"><a asp-controller= "User" asp-action="GetUsers">Back To List Of Treats</a></button> </div>