@model ViewUserRequestModel
<!doctype html>
<html>
<head>
  <style>
    body{
      background-color:grey;
    }
  </style>
</head>
<body>
  <h3> Welcome </h3>


@{
    Layout = "~/Views/Shared/_DipatcherLayout.cshtml";
    ViewData["Title"] = "Dispatcher";
}


    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Welcome back <div class="weight-600 font-30 text-blue">@User.Identity.Name!</div>
                    </h4>
                    <p class="font-18 max-width-600">Welcome! We have got some tasks to get our hands on! Let's Begin!!</p>
                </div>
            </div>
        </div>

        <div class="footer-wrap pd-20 mb-20 card-box" style="background-color: Black">
            @User.Identity.Name
        </div>
    </div>
</body>
<!-- js -->