<!doctype html>
<html>
<head> 
    <style>
        body{
            background-color:crimson;
        }
    </style>
    <body>
    <h4 >Deletion Made <button> back to home => <a asp-action = "AdminDashboard" asp-controller= "User"></a></button></h4> 
    </body>

</head>
</html>