<h2> Treat Deleted Successfully!!! </h2>
@{
 Layout="~/Views/Shared/_AdministratorLayout.cshtml";
ViewData["Title"] = "Admin";
}
<div><button style="background-color:darkblue;"><a asp-controller= "Treat" asp-action="DiscreteIndex"><= Back To Page</a></button> </div>